<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 900px)" href="{% static 'pictures/styleWide.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 900px)" href="{% static 'pictures/styleMobile.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shepherd Hill Class of 2021</title>
</head>
<body>
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <header>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImageLeft">
        </div>
        <div>
            <p class="title">Shepherd Hill Class of 2021</p>
        </div>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImageRight">
        </div>
    </header>
    <div class="box">
        <div id="a"><p>Hi, {{ user.username }}</p></div>
        <div id="b"><a href="{% url 'logout' %}">Log out <i class="fas fa-sign-out-alt"></i></a></div>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'contact:home' %}">Contact Your Officers</a></li>
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <li><a href="{% url 'dues:index' %}">My Dues</a></li>
            <li><a href="{% url 'events:index' %}">Calendar</a></li>
            <li><a href="">Important Events</a></li>
        </ul>
    </nav>
    <div class="header">
        <div class="headerWords">
            Pictures
        </div>
    </div>
    <section class="pictures">
        {% if links %}
        {% for link in links %}
            <a href="{{ link.link }}" class="albumLink">
                <div class="albumLinkDiv">
                    {{ link.name }}
                </div>
            </a>
        {% endfor %}
        {% else %}
            <p>We have no photos at the moment.</p>
        {% endif %}
    </section>
    {% else %}
    <header>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImageLeft">
        </div>
        <div>
            <p class="title">Shepherd Hill Class of 2021</p>
        </div>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImageRight">
        </div>
    </header>
    <a href="{% provider_login_url 'google' %}" id="loginLink">
        <div class="loginButton">
            <span class="GoogleButton">
                    <img id="logo" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                     Login with Google
            </span>
        </div>
    </a>
    {% endif %}
</body>
</html>
