* {
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

body {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
    background: #C4C4C4;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1em;
    background: #800000;
}

.title {
    font-size: 72px;
    margin: 0px 10px 0px 10px;
    color: #C98A28;
    text-shadow: 2px 2px 6px #000000;
}

.RamImage {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

nav {
    padding: .5em;
    background: #C98A28;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

nav ul li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 8px 50px;
    margin: 0px 10px 0px 10px;
    background: #C4C4C4;
    text-decoration: none;
    font-size: 18px;
    color: black;
    word-wrap: normal;
    box-shadow: 2px 2px 6px #000000;
}

nav a:hover {
    background: #b8b8b8;
    box-shadow: 2px 2px 4px #000000;
}

.announcements1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.5em 2em 3em 2em;
}

.announcements {
    background: #800000;
    padding: 8px 54px;
    font-size: 32px;
    color: #C98A28;
    text-shadow: 2px 2px 6px #000000;
    /* box-shadow: 2px 2px 6px #000000; */
    border-radius: 10px;
}

.main {
    display: grid;
    grid-template-areas: "a . b . c";
    grid-template-columns: 1fr .5fr 1.5fr .5fr 1fr;
}

.sideLeft {
    grid-area: a;
}

.announcementArea {
    grid-area: b;
    text-align: left;
    background: #959595;
    padding: 2em;
}

.sideRight {
    grid-area: c;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #888888;
    color: black;
    font-size: 18px;
    padding: .35rem;
}
