<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 900px)" href="{% static 'home/styleWide.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 900px)" href="{% static 'home/styleMobile.css' %}">
</head>

<title>Announcements</title>


<div class="button">
    <a href="{% url 'home:index' %}" id="back">
        <span id="home">
            <i class="fas fa-chevron-left"></i> Back
        </span>
    </a>
</div>

<div class="announcements2">
    <div class="announcements0">
        Announcements
    </div>
</div>

<div class="main">
    <div class="announcementArea">
        {% if latest_announcements_all %}
                <div>
                {% for announcement in latest_announcements_all %}
                <br>
                    <div id="announcementBlock">
                        <h2>
                            {{ announcement.title_text }}
                        </h2>
                        <p id="pub_date">
                            {{ announcement.pub_date }}
                        </p>
                        <p>
                            {{ announcement.body_text }}
                        </p>
                    </div>
                    <br>
                {% endfor %}
                </div>
        {% else %}
            <div>
                <p>We have no current announcements.</p>
            </div>
        {% endif %}
    </div>
</div>
