<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shepherd Hill Class of 2021</title>
</head>
<body>
    <header>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImage">
        </div>
        <div>
            <p class="title">Shepherd Hill Class of 2021</p>
        </div>
        <div>
            <img src="{% static 'home/Ram.jpg' %}" alt="ram" class="RamImage">
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="">Contact Your Officers</a></li>
            <li><a href="">Pictures</a></li>
            <li><a href="">My Dues</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Important Events</a></li>
        </ul>
    </nav>
    <section>
        <div class="announcements">
            <p id="announcements">
                Announcements
            </p>
        </div>
        <div>
            <div>
                <!-- side images -->
            </div>
            <div>
                <!-- Announcements -->
                {% if latest_announcements %}
                    <div>
                    {% for announcement in latest_announcements %}
                        <h2>
                            {{ announcement.title_text }}
                        </h2>
                        <p>
                            {{ announcement.body_text }}
                        </p>
                        <p id="pub_date">
                            {{ announcement.pub_date }}
                        </p>
                    {% endfor %}
                    </div>
                {% else %}
                    <div>
                        <p>We have no current announcements.</p>
                    </div>
                {% endif %}
                <a href="{% url 'home:announcements' %}">View all announcements</a>
            </div>
            <div>
                <!-- side images -->
            </div>
        </div>
    </section>
    <footer>
        Designed for the Class of 2021
    </footer>
</body>
</html>
